md-card
	md-card-content(layout="row")
		md-icon search
		md-autocomplete(
		flex
		md-selected-item="ctrl.selectedCategoria" 
		md-search-text-change="ctrl.BuscarCategoriaChange(ctrl.searchTextCategoria)" 
		md-search-text="ctrl.searchTextCategoria" 
		md-selected-item-change="ctrl.CategoriaSeleccionadoChange(item)" 
		md-items="item in categorias" 
		md-item-text="item.nombre" 
		md-min-length="0" 
		placeholder="Nombre de la Categoria" 
		md-menu-class="autocomplete-custom-template")
			md-item-template
				span {{item.nombre}}
		md-button.md-raised(md-colors="{background: 'green'}" ng-click="nuevo()")
			md-icon add
	md-divider
	md-list
		md-list-item(ng-repeat="categoria in categorias | filter : ctrl.searchTextCategoria")
			.md-list-item-text
				strong {{categoria.nombre}}
			md-fab-toolbar(md-open="false" count="0"  md-direction="left" flex)
				md-fab-trigger
					md-button
						md-icon more_vert
				md-toolbar
					md-fab-actions(layout="row")
						md-button.md-fab(md-colors="{background: 'green'}" ui-sref="categoria({id:categoria.id})")
							md-icon edit
						md-button.md-fab(md-colors="{background: 'red'}" ng-click="eliminarCategoria(categoria,$index)")
							md-icon clear
			md-divider
